<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cradleplatform.neptune">
    <!-- Use "old" Camera API for support for devices running < v5.0. -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Removed autofocus because preventing install on some older phones. -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".CradleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"> <!--    set this to true when testing the app on a local dev server-->
        <activity android:name=".view.EditPatientInfoActivity"/>
        <activity
            android:name=".view.FormRenderingActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".sync.views.SyncActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.GlobalPatientProfileActivity" />
        <activity
            android:name=".view.GlobalPatientSearchActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".view.ui.settings.ui.healthFacility.HealthFacilitiesActivity" />
        <activity android:name=".view.PosterActivity" />
        <activity android:name=".view.EducationActivity" />
        <activity android:name=".view.StatsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.DashBoardActivity" />
        <activity android:name=".view.PatientProfileActivity" />
        <activity android:name=".view.PatientReferralActivity" />
        <activity android:name=".view.PatientUpdateDrugMedicalActivity" />
        <activity android:name=".view.EditPregnancyActivity" />
        <activity
            android:name=".view.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.PatientsActivity"
            android:label="@string/title_activity_patients"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity> <!-- windowSoftInputMode=adjustResize so that wizard's bottom buttons stay visible -->
        <activity android:name=".view.VideoActivity" />
        <activity
            android:name=".view.ReadingActivity"
            android:label="@string/title_activity_reading"
            android:screenOrientation="portrait"
            android:theme="@style/ReadingFlowTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.ui.settings.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FormSelectionActivity"
            android:label="Form Selection"
            android:screenOrientation="portrait" />
        <activity android:name=".view.PinPassActivity" />

        <receiver android:name=".utilities.notification.NotificationPublisher"/>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            android:multiprocess="true"
            tools:node="remove" />
    </application>

</manifest>