<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Use "old" Camera API for support for devices running < v5.0. -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Removed autofocus because preventing install on some older phones. -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".CradleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"> <!--    set this to true when testing the app on a local dev server-->
        <activity android:name=".activities.patients.EditPatientInfoActivity"/>
        <activity
            android:name=".activities.forms.FormRenderingActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".sync.views.SyncActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.patients.GlobalPatientProfileActivity" />
        <activity
            android:name=".activities.patients.GlobalPatientSearchActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activities.settings.HealthFacilitiesActivity" />
        <activity android:name=".activities.education.PosterActivity" />
        <activity android:name=".activities.education.EducationActivity" />
        <activity android:name=".activities.statistics.StatsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.authentication.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activities.introduction.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.dashboard.DashBoardActivity" />
        <activity android:name=".activities.patients.PatientProfileActivity" />
        <activity android:name=".activities.patients.PatientReferralActivity" />
        <activity android:name=".activities.patients.PatientUpdateDrugMedicalActivity" />
        <activity android:name=".activities.patients.EditPregnancyActivity" />
        <activity
            android:name=".activities.introduction.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.patients.PatientsActivity"
            android:label="@string/title_activity_patients"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity> <!-- windowSoftInputMode=adjustResize so that wizard's bottom buttons stay visible -->
        <activity android:name=".activities.education.VideoActivity" />
        <activity
            android:name=".activities.newPatient.ReadingActivity"
            android:label="@string/title_activity_reading"
            android:screenOrientation="portrait"
            android:theme="@style/ReadingFlowTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.forms.FormSelectionActivity"
            android:label="Form Selection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.forms.SavedFormsActivity"
            android:label="Saved Forms"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.authentication.PinPassActivity" />

        <receiver android:name=".utilities.notification.NotificationPublisher"/>
    </application>
</manifest>