<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cradleVSA.neptune">
    <!-- Use "old" Camera API for support for devices running < v5.0. -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Removed autofocus because preventing install on some older phones. -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.cradleVSA.neptune.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <activity
            android:name="com.cradleVSA.neptune.view.SyncActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.cradleVSA.neptune.view.GlobalPatientProfileActivity" />
        <activity
            android:name="com.cradleVSA.neptune.view.GlobalPatientSearchActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.cradleVSA.neptune.view.ui.settings.ui.healthFacility.HealthFacilitiesActivity" />
        <activity android:name="com.cradleVSA.neptune.view.PosterActivity" />
        <activity android:name="com.cradleVSA.neptune.view.EducationActivity" />
        <activity android:name="com.cradleVSA.neptune.view.StatsActivity" />
        <activity
            android:name="com.cradleVSA.neptune.view.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cradleVSA.neptune.view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cradleVSA.neptune.view.DashBoardActivity" />
        <activity android:name="com.cradleVSA.neptune.view.PatientProfileActivity" />
        <activity
            android:name="com.cradleVSA.neptune.view.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cradleVSA.neptune.view.PatientsActivity"
            android:label="@string/title_activity_patients"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <!-- windowSoftInputMode=adjustResize so that wizard's bottom buttons stay visible -->
        <activity
            android:name="com.cradleVSA.neptune.view.VideoActivity" />
        <activity
            android:name="com.cradleVSA.neptune.view.ReadingActivity"
            android:label="@string/title_activity_reading"
            android:screenOrientation="portrait"
            android:theme="@style/ReadingFlowTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.cradleVSA.neptune.view.ui.settings.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" />
    </application>
</manifest>